<?xml version="1.0"?>
<!--

/**
 * Rootd Framework core module configuration.
 *
 * This configuration file demonstrates how you can
 * create your own WordPress plugin as a module which
 * includes multiple features. For example, the
 * <modules/rootd/features> node can contain several
 * WordPress widgets that you can toggle on or off
 * independently from the module (plugin) active state.
 *
 * @package  	Rootd
 * @author   	Rick Buczynski <me@rickbuczynski.com>
 * @copyright   2014 Rick Buczynski. All Rights Reserved.
 */

-->
<config>
	<modules>
		<rootd>
			<version>0.2.0</version>
			<!-- The base class (module) prefix -->
			<class>Rootd</class>
			<features>
				<postnote>
					<!-- When set to true, the feature will be enabled automatically -->
					<enabled>true</enabled>
					<!-- Specifies the type of feature, which controls how it is registered -->
					<type>meta</type>
					<!-- The remaining portion of the class name after the base prefix -->
					<class>Postnote_Meta</class>
				</postnote>
				<!-- Repeat this pattern for additional features -->
				<olark>
					<enabled>true</enabled>
					<type>widget</type>
					<class>Olark_Widget</class>
				</olark>
			</features>
			<iso>
				<geocode>
					<cache_dir></cache_dir>
					<format_rules>
						<country>getCountryCode</country>
						<address>strtolower;ucwords</address>
						<region>getRegionByCode</region>
						<city>strtolower;ucwords</city>
						<postcode>strtoupper</postcode>
					</format_rules>
					<providers>
						<ziptastic>
							<class>Rootd_Iso_Geocode_Provider_Ziptastic</class>
							<priority>0</priority>
							<scope><![CDATA[US]]></scope>
							<use_cache>1</use_cache>
						</ziptastic>
					</providers>
				</geocode>
			</iso>
		</rootd>
	</modules>
	<helpers>
		<post>Rootd_Post_Helper</post>
	</helpers>
</config>